<link rel="stylesheet" href="css/homepage.css" />

<div class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <span>BelanjaYuk</span>
        </a>
    </div>
</div>
